/*
  CSS Magic!
  You can set the colors and images for the main part of your zine here.  If you need to do even more customization, check out the main.css page.
*/

:root {
    /* For Background, the center / cover determines how we lay out the image on the page.
    For a new image, put whatever you want for the background in yr aesthetic folder and then
    reference the file name here as ./filename.jpg_or_what_have_you.
    You can find out more about the background property here: https://developer.mozilla.org/en-US/docs/Web/CSS/background */
    --background: center / contain no-repeat url('./lai-power-cover.jpg') #1A1627;

    /* Opening deals with the track title that shows when the page is first loaded. */
    --opening_font: monospace;
    --opening_color: pink;
    --opening_bg: transparent;

    /* we use an rgba for our playerbutton so we can get it nicely translucent.  you can have it be a solid color too,
       if you want. There's a good guide to color here: https://developer.mozilla.org/en-US/docs/Web/HTML/Applying_color  */
    --playerButton: rgba(112, 111, 181, 0.13);

    /* This is for our time stamp at the bottom of the page. */
    --time_bg: transparent;
    --time_color: pink;
    --time_font: monospace;

    /* Our Download Link.  We hare having the icon be an svg, but you can replace it with a different svg if you'd like. */

    --download-link_color: white;
    --download-link_size: 2em;
    /* The Icons to toggle our info on or off */
      --info-icon_color: white;
      --info-icon_size: 2em;
      --x-info-icon_size: 2em;
      --x-info-icon_color: white;

    /* This is for our Question Mark, that triggers the info about the track. */
    --q_bg: rgba(112, 111, 181, 0.13);
    --q_color: pink;

    /* Now for the InfoBox, that comes up when you hit the Question Mark */
    --info_bg: transparent;
    --info_color: pink;
    --info_link: gold;
    --info_font: monospace;

    /* hashworm.  This hides our ssb key in the cutest way in the info box.  
       Endless thanks to raphael batiste for this code. */
    --worm_bg: tranparent;
    --worm_color: lightgreen;
}
