/*
    * Want to change this website's styes? Learn more about CSS:
    * https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS
    */

   body, html {
       padding: 0;
       margin: 0;
       padding: 0 20px;
       background: var(--background);
       height: 100vh;
       font-size: 20px;
       font-family: serif;
       color: white;
   }

   #openingInfo {
     height: 100vh;
     max-width: 80%;
     margin: auto;
     padding-top: 0;
     padding-left: 2em;
     position: fixed;
     top: 0;
     left: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     font-family: var(--opening_font);
     color: var(--opening_color);
     background: var(--opening_bg);
     animation: fadeOut 10s forwards;
   }
   @keyframes fadeOut {
       from {
           opacity: 1;
       }
       to {
           opacity: 0;
       }
   }

   #openingInfo h1 {
     margin-bottom: 0;
   }

   #openingInfo p {
     margin-top: 0;
     font-size: 2em;
   }

   #time {
       font-family: var(--time_font);
       background: var(--time_bg);
       color: var(--time_color);
       font-size: 2em;
       text-align: center;
   }

   .wrapper{
       height: 100%;
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   .wrapper h1{
       font-size: 4.5em;
   }
   @media (max-width: 667px){
       .wrapper h1{
           font-size: 3em;
       }
   }

   .wrapper a{
       text-align: center;
       text-decoration: none;
       color: black;

   }

   .wrapper a:hover{
       text-decoration: underline;

   }

   #player-button {
       height: 80vh;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;

   }

   #player-button svg{
       cursor: pointer;
       height: 80%;
       fill: var(--playerButton); 
       z-index: 1000;

   }
   @media (max-width: 667px) {
       #player-button svg{
           height: 60%;

       }

   }

   #infoBox{
       position: absolute;
       top: 0;
       left: 0;
       height: 85vh;
       overflow-y: scroll;
       max-width: 100vw;
       padding: 1em;
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       font-family: var(--info_font);
       color: var(--info_color);
       background: var(--info_bg);
   }

   #infoBox a{
     color: var(--info_link);
}

   #set-name {
       margin-bottom: 0;
   }

   #byline {
       margin-top: 0;
   }

   #SSB {
       font-size: 1.2em;
       margin-bottom: 0;
   }

   #SSB + p {
       margin-top: 0;
   }

   .instruction {
       font-size: 0.65em;
   }
   #additionalInfo {
       font-size: 0.8em;
   }
   @media(min-width: 667px) {

       #infoBox{
           font-size: 2em;
       }

       #set-name {
           margin-bottom: 0;
       }

       #byline {
           margin-top: 0;
       }

       #SSB {
           font-size: 1.2em;
           margin-bottom: 0;
       }

       #SSB + p {
           margin-top: 0;
       }

       .instruction {
           font-size: 0.65em;
       }
       #additionalInfo{
           font-size: 0.65em;
       }
   }

   /*This following code for the hashworm comes from Raphael Bastide, and it makes me soooo happy.  
           You can find the original site here: dat://ff176b8c453939142d592e1c2c5eef7c9c69423e1f85bc2560af52e6a8750ab2/ */
   code{
       padding:5px;
       display:inline-block;
   }
   i{
       font-style:normal;
   }
   code.wormed i{
       background: var(--worm_bg);
       color: var(--worm_color);
       letter-spacing:-.54em;
       font-weight: bold;
       margin-right:.5em;
       transition:all .2s ease;
       cursor:help;
       /*text-shadow: 1px 0px 1px black;*/
       position: relative;
   }
   code.wormed i:after{
       content: "";
       width: .45em;
       height: .45em;
       border-radius: .4em;
       position: absolute;
       top: 0.0em;
       right: -.6em;
       background: white;
       border: .2em solid black;
   }
   code.wormed i:before{
       content: "";
       width: .25em;
       height: .25em;
       border-radius: .3em;
       position: absolute;
       top: .40em;
       right: -.40em;
       z-index: 3;
       background: black;
   }
   code.wormed i em{
       margin-right:5px;
       transition:all .3s ease-in;
   }
   code.wormed.hovermode i:hover{
       display:inline-block;
       transform:scale(2);
       padding: 20px;
       transform-origin:center;
       background:#fcfcfc;
       box-shadow:0px 0px 2px #ccc;
       text-shadow: none;
   }

   code.wormed.hovermode i:hover .c1,
   code.wormed.hovermode i:hover .c2,
   code.wormed.hovermode i:hover .c3,
   code.wormed.hovermode i:hover .c4{
       display:inline-block;
       letter-spacing:normal;
       transform-origin:center;
   }

/*
   The Download Link Button
*/

#download-link{
    position: absolute;
    background: var(--download-button_icon);
    top: 0;
    right: 0;
    margin: 1em;
}

#download-link svg{
    color: var(--download-link_color);
    width: var(--download-link_size);
}

/* Info Icons */
#info-icons{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2em;
}

#question-icon {
    width: var(--info-icon_size);
    color: var(--info-icon_color);
}
#x-icon {
    width: var(--x-info-icon_size);
    color: var(--x-info-icon_color);
}

/* info icons */
